<% if current_user %>
  <b><%= link_to "Post a photo", '/posts/new', class:"link"%></b>
<% else %>
  Please sign in to post a photo
<% end %>
</br></br>
  <div class="central">
    <% if @posts.any? %>
      <% @posts.reverse.each do |post| %>
        <div class="well well-lg" id="well">
          <span id="username">@<%= post.username %></span>
          <span id="timestamp"><%= relative_time(post.created_at) %></span>
          </br></br>
          <%= link_to image_tag(post.image.url(:large)), post_path(post), id: post.id %>
          </br></br>
          <span id="description"><%= post.description %></span>
          </br></br>
          <%= link_to post_likes_path(post), class:"link", id:"likes-link" do %>
            <span class="glyphicon glyphicon-heart"></span>
          <% end %>
          <span class="likes_count"> <%= post.likes.count %> </span> <%= 'like'.pluralize post.likes.count %>
          </br></br>
          <% if current_user %>
            <% if (post.user_id == current_user.id) %>
              <%= link_to "Delete post", post_path(post), method: :delete, class:"link", id:"delete" %>
            <% end %>
          <% end %>
        </br></br>
        </div>
      <% end %>
    <% else %>
      No photos posted
    <% end %>
  </div>
