<div class="well well-lg" id="well">
  <div class="central">
    <p><%= image_tag @post.image.url(:large) %></p>
    <p id="description"><%= @post.description %></p>
    <% if @post.comments.any? %>
      <ul>
        <% @post.comments.each do |comment| %>
          <ol id="comments">
            <%= comment.thoughts %>
          </ol>
        <% end %>
      </ul>
    <% else %>
      No comments yet
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "Add comment", new_post_comment_path(@post), class:"link" %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class:"link" %> to add a comment
    <% end %>
  </div>
</div>
