<div class="central">
  <div class="well well-lg" id="well">
    <span id="username">@<%= @post.username %></span>
    <span id="timestamp"><%= relative_time(@post.created_at) %></span>
    </br></br>
    <p><%= image_tag @post.image.url(:large) %></p>
    <p id="description"><%= @post.description %></p>
    <% if @post.comments.any? %>
      <ul>
        <% @post.comments.each do |comment| %>
          <ol id="comments">
            <span id="comment_user">@<%=comment.username%></span> <%=comment.thoughts%>
          </ol>
        <% end %>
      </ul>
    <% else %>
      No comments yet
    </br></br>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "Add comment", new_post_comment_path(@post), class:"link" %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path, class:"link" %> to add a comment
    <% end %>
  </div>
</div>
