<p><%= image_tag @post.image.url(:thumb) %></p>
<p><%= @post.description %></p>
<% if @post.comments.any? %>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <%= comment.thoughts %>
      </li>
    <% end %>
  </ul>
<% else %>
  No comments yet
<% end %>

<% if user_signed_in? %>
  <%= link_to "Add comment", new_post_comment_path(@post), class:"link" %>
<% else %>
  <%= link_to "Sign in", new_user_session_path, class:"link" %> to add a comment
<% end %>

<div id="home"><%= link_to "Home", "/posts", class:"link"%></div>
